$darkmode: true;
$primary: #64dbb4;
$onPrimary: #003829;
$primaryContainer: #00513c;
$onPrimaryContainer: #82f8d0;
$secondary: #b2ccc0;
$onSecondary: #1e352c;
$secondaryContainer: #344b42;
$onSecondaryContainer: #cee9dc;
$tertiary: #a7cce1;
$onTertiary: #0b3445;
$tertiaryContainer: #264b5d;
$onTertiaryContainer: #c3e8fe;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1b;
$background: #191c1b;
$onBackground: #e1e3e0;
$surface: #191c1b;
$onSurface: #e1e3e0;
$surfaceVariant: #3f4944;
$onSurfaceVariant: #bfc9c3;
$outline: #8a938e;
$shadow: #000000;
$inverseSurface: #e1e3e0;
$inverseOnSurface: #2e312f;
$inversePrimary: #006c52;
