$darkmode: true;
$primary: #c7bfff;
$onPrimary: #2b1f7e;
$primaryContainer: #423995;
$onPrimaryContainer: #e5dfff;
$secondary: #c8c4dc;
$onSecondary: #302e42;
$secondaryContainer: #474559;
$onSecondaryContainer: #e4dff9;
$tertiary: #ebb8cf;
$onTertiary: #482537;
$tertiaryContainer: #613b4e;
$onTertiaryContainer: #ffd8ea;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1c1b1f;
$background: #1c1b1f;
$onBackground: #e5e1e6;
$surface: #1c1b1f;
$onSurface: #e5e1e6;
$surfaceVariant: #47464e;
$onSurfaceVariant: #c9c5d0;
$outline: #928f9a;
$shadow: #000000;
$inverseSurface: #e5e1e6;
$inverseOnSurface: #313033;
$inversePrimary: #5a52af;
